<h2>Visit</h2>
<p>На этой странице вы можете записаться к нам в Barber Shop</p>

<form action="/visit" method="POST" role="fonrm">
  
  <div class="form-group">
    <label>Your name</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name">
  </div>

  
  <button type="submit" class="btn btn-primary">Visit</button>
</form>
